@import './vars.styl'
@import './mixins.styl'
@import './layout.styl'
@import './dialogs.styl'
@import './buttons.styl'
@import './symbols.styl'
@import './colors.styl'
@import './forms.styl'
@import './tables.styl'
@import './chart.styl'
@import './hardCoded.styl'

html, body
  height: 100%

html
body 
.net
button
  margin: 0
  padding: 0
  
body
  padding: 0 
  margin 1px
  max-width: 100%
  background-color: $darkness !important

body, button, input 
  font-family: 'Titillium Web', sans-serif
  // font-family: 'Raleway', sans-serif;

h1,h2,h3,h4,h5,h6
  color: $dark

svg text
 user-select: none
footer
  background: $darkness-even
  color $dark
header 
  align-items center
:focus 
    outline: 0

.main
.center
  height: 100%
  max-height: 100%

.center
  display: flex
  justify-content: center
  align-items: center

.net
  max-width: 100%
  max-height: 95%
  position: absolute

.net
.graph
  z-index: 5
h6
  color: $white


.connected
  color: $color

.disconnected
  color: $warn



h1
  color: $color
  text-shadow:  $hard-sh
  display: inline
  margin  0 1em

ul.inline
  display: inline 
  margin:0
  padding:0
  color:$color
  text-shadow: $txt-sh

.inline
  list-style: none
  li
    display: inline-block
    &:after
      content: '/'
      margin: 0 0.5em
  
/*.options button.btn
  width: 2em
  height: 2em
  .svg-icon
    width: 1.25em !important
    height: @width 
   .badge
      font-size: .8em
*/        
.cross-cursor
  cursor: crosshair

.suffix
  font-size: 0.8em

.med
  font-size: 2em
