@import './vars.styl'
@import './layout.styl'
@import './dialogs.styl'
@import './buttons.styl'
@import './symbols.styl'
@import './colors.styl'
@import './forms.styl'
@import './tables.styl'
@import './chart.styl'
@import './text.styl'
@import './hardCoded.styl'


html, body
  height: 100%

html
body 
.main
.net
button
  margin: 0
  padding: 0
  
body
  padding: 0 
  margin 1px
  max-width: 100%
  font-family: 'Titillium Web', sans-serif
  background-color: $darkness !important

h1,h2,h3,h4,h5,h6
  color: $dark

svg text
 user-select: none

:focus 
    outline: 0

.main
.center
  height: 100%
  max-height: 100%

.center
  display: flex
  justify-content: center
  align-items: center

.net
  max-width: 100%
  max-height: 95%
  position: absolute

.net
.graph
  // background-color: $darkness
  z-index: 5
h6
  color: $white

.center
  display:block
  text-align: center
  margin:auto


.connected
  color: $color

.disconnected
  color: $warn

.over
  position: absolute
  bottom: 0
  left: 0
  z-index: 100
  padding: 1em


.options
  padding: .5em 2em
  border-radius: .5em
  text-align: center
  position absolute
  z-index: 100


h1
  color: $color
  text-shadow:  $hard-sh
  display: inline
  margin  0 1em

ul.inline
  display: inline 
  margin:0
  padding:0
  color:$color
  text-shadow: $txt-sh

.inline
  list-style: none
  li
    display: inline-block
    &:after
      content: '/'
      margin: 0 0.5em
 
.sym-pointer
  &:after
    content: $sym-pointer

.sym-kill
  &:after
    content: $sym-kill

.sym-parent
  &:after
    content: $sym-parent

.sym-pin
  &:after
    content: $sym-pin    
    
.cross-cursor
  cursor: crosshair

.tools
  position: absolute
  bottom: 1em
  right:4em
  z-index: 101
  text-align: center
  ul
    list-style: none
    margin: 0 3em .5em  0
    padding:0
    li
      display: inline
      margin-left: .5em
    button
      width: 3em
      height: 3em
      padding: 0
      box-shadow: $hard-sh
      span
        font-size: 2.25em
        line-height: 1em
        color: $color
  .selected 
    button
    span
    svg
      color: $color2

.drag-col
  position: absolute
  z-index: 1
  // pointer-events: none
  width: 10%
  min-height: 100%

.drag-col-0
  left: 5em
  // border: red solid 1px

.drag-col-1
  right: 5em
  // border: blue solid 1px

.dark-chart
  background-color: $darkness
  border: solid $color 1px
  .line
    stroke: $color
  .label
    fill: $color 
  .chart-title
    color: $mid

 .dialog-header
  .title
    color:$color

.suffix
  font-size: 0.8em

.med
  font-size: 2em
