@import './vars.styl'
@import './mixins.styl'
@import './buttons.styl'
@import './list.styl'
@import './symbols.styl'
@import './colors.styl'
@import './forms.styl'
@import './tables.styl'
@import './chart.styl'
@import './dialogs.styl'
@import './panels.styl'
@import './hardCoded.styl'
@import './layout.styl'

html
  font-size 100%
html
body 
.net
button
  margin: 0
  padding: 0
  
body
  // margin 1px
  // max-width: 100%
  background-color $bg-color
  color $txt-color

body, button, input 
  font-family: 'Titillium Web', sans-serif
  // font-family: 'Raleway', sans-serif;

h1,h2,h3,h4,h5,h6
  color: $txt-color

svg text
 user-select: none
footer
  background: $darkness-even
  color $dark
header 
  align-items center
:focus 
    outline: 0

.main
.center
  height: 100%
  max-height: 100%

.center
  display: flex
  justify-content: center
  align-items: center

.net
  position: absolute

.connected
  color: $color

.disconnected
  color: $warn

h1
  color: $color
  text-shadow:  $hard-sh
  display: inline
  margin  0 1em

ul.inline
  display: inline 
  margin:0
  padding:0
  color:$color
  text-shadow: $txt-sh

.inline
  list-style: none
  li
    display: inline-block
    &:after
      content: '/'
      margin: 0 0.5em

.cross-cursor
  cursor: crosshair

.suffix
  font-size: 0.8em

.med
  font-size: 2em
