
button
  color: $color
  background-color: transparent
  border: none
  .svg-icon
    fill: $color
    width: 1em
    height: 1em
  &:hover
      color $color2
    .svg-icon
      fill $color2
      
button.btn  
   background-color: $white
   padding .25em .5em
   border-radius: .1em
   box-shadow: 1px 1px 1px rgba(0,0,0,.5)
   margin-left: .25em
   font-weight bold

button.big
  font-size: 1em
  width 2.5em
  height @width
  .svg-icon
    width: 1.75em 
    height: @width
  .badge
    font-size 1em !important  
button.big-txt
  font-size 1.25em

button.menu
  width: 2.5em
  height: 2.5em
  padding: 0
  .svg-icon
    width: 2em
    height: 2em
button.circle
  border-radius: 50%
  border:$border
  .svg-icon
    width: 1.5em
    height: 1.5em



.btn.badge, .w-badge
  position: relative
  margin-right: .75em
  display: inline-block
  .badge
    position: absolute
    bottom: -.75em
    right: @bottom
    border-radius: 50%
    padding: .125em
    line-height: 1.5em
    font-size: .7em
    background-color: $color
    color: $white
    width: 1.5em
    height: 1.5em
    display: inline-block

button.close svg
  display: inline-block
  min-height: $action-btn-size

button.main-menu
  border-top-left-radius 50%
  border-bottom-left-radius 50%