.chart
  margin-top: 1em
  padding .5em 0
  position:relative
  .header
    display: flex
    .icon, .svg-icon
      width: 1em
      height : 1em
      position: absolute
      right: 1em
      top: .5em

.chart, .node-chart
  svg 
    overflow: visible  
    
.chart-title
  font-weight:normal
  margin-left: 2em
  font-size: 1em
 
  button.max
    position:absolute
    top: 1em
    right :1em
    z-index: 50
    pointer-events: initial
    &:hover
      color: $color2
    
    .dialog
      position:absolute
      z-index:999
      left:0
      top:0
      min-width: 100%  

.dark-chart
  background-color: $darkness
  border: $frame-border
  .line
    stroke: $color
  .label
    fill: $color 
  .chart-title
    color: $mid

 .dialog-header
  .title
    color:$color