@import './vars.styl'
@import './mixins.styl'

// generates colors classes
 apply-colors('color' 'color2' 'gray','$')

 color-dark()
    color: $mid
    fill: $mid
    background: $darkness-even
 
 color-darkness()
  color: $color
  fill: $color
  background: $darkness-odd
 
 .dark
    color-dark()
    .title, h1, h2,h3,h4,h5,h6
      color: $white
     .tolltip
        color: $color
        
.darkness
  color-darkness()
    .title, h1, h2,h3,h4,h5,h6
      color: $light

.delete
  color $warn-light
  fill $warn-light
  border-color $warn-light !important
    &:hover
      color $warn
      fill @color
      border-color @color
.active
  color $color
    &:hover
      color $colo2  