@import './vars.styl'

.color
  color: $color
  fill: $color

.color2
  color:$color2
  fill: $color2

 color-dark()
    color: $mid
    fill: $mid
    background: $darkness-even
 
 color-darkness()
  color: $color
  fill: $color
  background: $darkness-odd
 
 .dark
    color-dark()
    .title, h1, h2,h3,h4,h5,h6
      color: $white
     .tolltip
        color: $color
        
.darkness
  color-darkness()
    .title, h1, h2,h3,h4,h5,h6
      color: $light
