@import './vars.styl'
@import './mixins.styl'

// generates colors classes
 apply-colors('color' 'color2' 'gray','$')
 apply-colors('red' 'green' 'blue' 'orange' 'yellow' 'violet')

 color-dark()
    color: $mid
    fill: $mid
    background: $darkness-even
 
 color-darkness()
  color: $color
  fill: $color
  background: $darkness-odd
 
 .dark
    color-dark()
    .title, h1, h2,h3,h4,h5,h6
      color: $white
     .tolltip
        color: $color

    input
      background $darkness
      color: $color
      border: alpha($dark,.5) solid 1px
    .search
      overflow: visible
      top: .5em
      left 1em
      input
        color: $color2
        margin-left: .25em
      .svg-icon
        fill: $dark
        
.darkness
  color-darkness()
    .title, h1, h2,h3,h4,h5,h6
      color: $light

delete()
  color $warn-light
  fill $warn-light
  &:hover
    color $warn
    fill @color
    border-color @color

.active
  color $color