@import 'vars.styl'

.dialog-drag
  z-index: 101
  width: auto
  height: auto
  position: absolute
  border: $color solid 2px
  background-color: white
  box-shadow: $sh
  animation-duration: 0.2s
  animation-name: dialog-anim
  animation-timing-function: ease-in

  .dialog-header
    position:relative
    text-align: left
    padding: .25em 3em .25em 1em
    width: auto
    font-size: 0.9em
    color: white
    margin-bottom: .5em
    
    .buttons 
      position: absolute
      right: 0
      top:0
      margin: .25em .25em 0 0
      z-index: 105
      width: 4em

    button.close, button.pin
      background: transparent
      box-shadow: none
      border:none
      
      &:hover
        color: $color2 
      
    button.close
      &:after
        content: '✖'
    button.pin
      font-family: $icon-font
      font-size: 1.5em
      line-height: 1.5em
      width: 1.5em
      &:after
        content: "\e918"   
  
  .dialog-body
    padding: 1em


.dialog-drag.fixed  // dialog pinned
  border-color: $color2
  user-select: auto 
  
  button.pin // pinned button
    &:after
      color: $color2
      content: "\e909"

@keyframes dialog-anim
  0%
    opacity: 0
    transform: scaleX(.1) 
  50%
    transform:   rotate(1deg)
  100%
    opacity: 1  

.watchers
  .dialog-body
    padding-top:0

.dialog-table
  background-color: $darkness
  input
    background-color: $darkness
    color: $color
    border: $dark solid 1px
  .dialog-header
    width: 0
    float: right
  .search
    input
      color: $color2 
    .icon
      color: $color  