@import 'vars.styl'

 $buttons-margin = $action-btn-size / 8   
 dialog()
  border: 3px solid $color
  
 dialog-pinned()
  border: 3px solid $color2

.dialog-drag
  z-index: 101
  width: auto
  height: auto
  position: absolute
  overflow: visible
  display: flex
  flex-direction: column
  border: $color solid 2px
  background-color: $white
  box-shadow: $box-sh
  animation-duration: 0.2s
  animation-name: dialog-anim
  animation-timing-function: ease-in
  border-radius: 1px

  .dialog-header
    position:relative
    text-align: left
    padding: .25em 3em .25em 1em
    width: auto
    font-size: 0.9em
    color: white
   

    .buttons 
      position: absolute
      right: 0
      top:0
      margin: $buttons-margin $buttons-margin 0 0
      width: $action-btn-size * 2
      button svg
         width: $action-btn-size
    button.close, button.pin
      background: transparent
      box-shadow: none
      border:none
      
      &:hover
        color: $color2 
      
    button.pin
      width: $action-btn-size / 1.2
  
  .dialog-body
    padding: 1em


.dialog-drag.fixed  // dialog pinned
  dialog-pinned()
  user-select: auto 
  
  button.pin // pinned button
    color: $color2

@keyframes dialog-anim
  0%
    opacity: 0
    transform: scaleX(.1) 
  50%
    transform:   rotate(1deg)
  100%
    opacity: 1  

$searchBg = $darkness
// Nodes Table
.dialog-table
  .buttons 
    margin-right: 1em
  input
    background-color: $searchBg
    color: $color
    border: $dark solid 1px
  .dialog-header
    float: right
  .search
    float right 
    position: absolute
    top: .5em
    left 1em
    input
      color: $color2
      margin-left: .25em
    .svg-icon
      fill: $dark

// Nodes Dialogs
.watchers
  .dialog-body
    padding-top:0
  
  .dialog-drag
    border:none
  
  .dialog-drag.fixed
    dialog-pinned() 
  
  .node-title
    margin: 0
  .dialog-header .title
    color: $dark
  
  .dialog-body
    padding:  0 .5em 1em .5em 
  
  .node-header
    display: flex
    align-items: center
    margin-top: .25em
    .title
      margin-left .5em
    .svg-icon
      width: 1.1em
      height: 1.1em
      padding: .125em  
      fill: $color
     
.chart
  button.close
    position: absolute
    right: 1em
    top: 1em