
::-webkit-input-placeholder
  color $graylight
  font-style italic

::-webkit-search-cancel-button
  /* Remove default */
  -webkit-appearance: none
  height: .75em
  width: .75em
  background: $dark

