$column-padding = 1vmax

body
  margin: 0
 
.wrapper
  min-height: 100vh
  display: flex
  flex-direction: column

/*.header, .footer
  height: 50px
  background: #666
  color: #fff
*/
.content 
  display: flex
  flex: 1

.columns
  display: flex
  flex:1

.main
  flex: 1
  order: 2

.col-a
  width: 17%
  padding-left: $column-padding
  order: 1

.col-c
  width: 17%
  padding-right: $column-padding
  order: 3

