@import './media_queries.styl'

$margin = 1rem
$min-col-w = 4rem
body
  margin: 0
  border 0
  display flex
  flex-direction column

.wrapper
  display flex
  min-height 100vh
  flex-direction column

.content
  display: flex
  flex: 1
  justify-content: flex-start
  flex-wrap: wrap
  min-height 100vh
  
.col-content
  display flex
  flex-flow column nowrap

#logo-col
  display none

header, footer
   flex 0 0 100%
   flex-flow row nowrap
   padding 0 $margin
   overflow visible 
   z-index 5

.header-wrapper
  //position absolute
  width 100%
  display inline-block

header
  display flex
  flex-flow row wrap
  height $min-box-height / 2
  .head-1
    order 1
    flex 1 1 $min-col-w
    text-align center
    z-index: 5
  .head-2
    order 3
    flex 1 1 100%
    text-align right
    z-index 100

  .head-3
    order 2
    flex 1 1 $min-col-w
    z-index 100
    align-items flex-end
    text-align right

footer  
  order 3
  box-sizing border-box

.col-a
  order 2
  flex 1 0 100%
  padding-left $margin
  z-index 100

.col-b
  order 1
  flex 0 0 100%
  min-height 100vw
.col-c
  order 3
  flex  1 0 100%
  padding-right $margin
  z-index 100

 .box
   box-sizing border-box
   padding-left $margin

// Small
@media $media_small
  header
    flex-flow row nowrap
    .head-2
      order 2
      flex 4 1 0
      text-align right
      z-index 100
    .head-3
      order 3
  .col-a
    flex 5
  .col-b
    background none
  .col-c  
    flex  7

// Medium
@media $media_medium
  #logo-head
    display none
   #logo-col
    display flex  
  .col-a
    order 1
    flex 1 1 $min-col-w
  .col-b
    flex 3 0
    min-height 0
  .col-c
    flex 0 1 100%
    .col-content
      flex-flow row wrap
      flex 0 0 100%
      .box
        flex 0 1 50%

// Large
@media $media_large

  .col-a
    order 1
    flex 1 0 $min-col-w
  .col-b
    order 2
    flex 4 1 0
  .col-c
    order 3
    flex 1 0 $min-col-w
    .col-content
      flex-flow column nowrap
  .box
    padding-left:  0 !important
  header
    .head-3
      flex 1 0 $min-col-w
      padding-right $margin
      z-index 500
