 .layout, .col-a,.col-b,.col-c
   height:auto
   // min-height: 80%
   margin:0
   padding:0
   display: block

.layout
  position: absolute
  top: 0
  left: 0
  display: flex
  min-width: 100%

  //border: magenta solid 1px
  .col-a
  .col-c
    position: relative
    width: 20%
    max-width: 20%
    padding-right: 2%
    border: green solid 1px
  .col-b
    position:relative
    min-width: 60%  
    //border: yellow solid 1
   .col-a
      padding-left: 2%