body
  margin: 0

.main
  min-height: 100vh
display: flex
  flex-direction: column

//.header, .footer
 // height: 50px

.layout 
  display: flex
  flex: 1

.columns
  display: flex
  flex:1

.col-c
  flex: 1
  order: 2

.col-a
  width: 20%
  order: 1

.col-c 
  width: 20%
  order: 3
