media_queries = {
  mobile  : "screen and (max-width: 600px)",
  tablet  : "screen and (min-width: 900px)",
  desktop : "screen and (min-width: 1200px)"
}

media_breakpoint(breakpoints)
  conditions = ()
  for breakpoint in breakpoints
    push(conditions, media_queries[breakpoint])
  conditions = join(", ", conditions)
  @media conditions
    {block}