small-titles()
    opacity: 0.8
    font-size: .9em
    margin-left: .5em
    margin-top .25em
    letter-spacing .0625em

apply-colors($colors, $pref='')
    for $col in $colors  
        $val = lookup($pref + $col)
        .bg-{$col}
            background: $val

        .{$col}
            color: $val
            fill: $val

        .border-{$col}
          border-color: $val
          stroke: $val


odd()
 background $darkness-odd 
 color $color

even()   
 background $darkness-even 
 color $color