@import 'vars.styl'
.node 
  stroke: $midlight
  stroke-width: 3px
  transition: fill 0.5s ease
  stroke: none
  fill: $white
  .cube
    stroke: none

 .node-back
    stroke: none
    fill: none

.node.pinned
  stroke: $color
  stroke-width: 5px
  fill: $color2
  color: $color2
  .node-back
    stroke: alpha($color,.75)
    stroke-width: 2px
.link
  stroke: alpha($mid,0.6)

.selection-lines
  stroke: $color
  stroke-width: 1px
  fill: none
   
.node
.link
  stroke-linecap: round
  color: $color
  &:hover
      stroke: $warn
      stroke-width: 5px
      color: $warn
 .link.selected
    stroke: alpha($color2,0.6)

.curve
  fill: none

.node-names 
  fill: $midlight
  stroke: rgba(0,0,0,0.7)
  paint-order: stroke

 .node.selected
    stroke: $color2
    color: $color2
    .node-back
      stroke: alpha($color2,.75)
      stroke-width: 2px
      fill: $white
 
 .node.inactive
    color: black !important   

$cube = $color

.selected.cube
  color: blue 