
.arrow
  border: solid $white
  border-width: 0 0 3px 3px 
  display: inline-block
  padding: 3px

.arrow.up
  transform: translateY(3px) rotate(135deg) 
.arrow.down
  transform: rotate(-45deg)
.arrow.left
  transform: rotate(45deg)
.arrow.right 
  transform: rotate(225deg)
  