@font-face {
  font-family: 'rsk-icons';
  src:
    url('fonts/rsk-icons.ttf?b9c502') format('truetype'),
    url('fonts/rsk-icons.woff?b9c502') format('woff'),
    url('fonts/rsk-icons.svg?b9c502#rsk-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rsk-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pin:before {
  content: "\e918";
}
.icon-pinned:before {
  content: "\e909";
}
.icon-resize:before {
  content: "\e916";
}
.icon-rsk:before {
  content: "\e911";
}
.icon-table:before {
  content: "\e917";
}
.icon-enlarge:before {
  content: "\e914";
}
.icon-enlarge2:before {
  content: "\e915";
}
.icon-browser:before {
  content: "\f0c5";
}
.icon-download:before {
  content: "\f00b";
}
.icon-upload:before {
  content: "\f00c";
}
.icon-database:before {
  content: "\f096";
}
.icon-ellipsis:before {
  content: "\f09a";
}
.icon-load:before {
  content: "\f0b0";
}
.icon-graph2:before {
  content: "\f044";
}
.icon-link-external:before {
  content: "\f07f";
}
.icon-move-down:before {
  content: "\f0a8";
}
.icon-search:before {
  content: "\f02e";
}
.icon-versions:before {
  content: "\f064";
}
.icon-snapshots:before {
  content: "\f064";
}
.icon-floppy:before {
  content: "\e912";
}
.icon-disk:before {
  content: "\e912";
}
.icon-save:before {
  content: "\e912";
}
.icon-store:before {
  content: "\e912";
}
.icon-credit-card:before {
  content: "\f045";
}
.icon-flame:before {
  content: "\f0d2";
}
.icon-graph:before {
  content: "\f043";
}
.icon-light-bulb:before {
  content: "\f000";
}
.icon-microscope:before {
  content: "\f089";
}
.icon-plug:before {
  content: "\f0d4";
}
.icon-puzzle:before {
  content: "\f0c0";
}
.icon-rocket:before {
  content: "\f033";
}
.icon-server:before {
  content: "\f097";
}
.icon-zap:before {
  content: "\26a1";
}
.icon-mac:before {
  content: "\e90f";
}
.icon-gear:before {
  content: "\e906";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-windows:before {
  content: "\eac2";
}
.icon-copy:before {
  content: "\e913";
}
.icon-reload-alt:before {
  content: "\e904";
}
.icon-refresh:before {
  content: "\e904";
}
.icon-reset:before {
  content: "\e904";
}
.icon-arrow:before {
  content: "\e904";
}
.icon-git-merge:before {
  content: "\f023";
}
.icon-pulse:before {
  content: "\f085";
}
.icon-pointer:before {
  content: "\e900";
}
.icon-mouse:before {
  content: "\e900";
}
.icon-move:before {
  content: "\e901";
}
.icon-drag:before {
  content: "\e901";
}
.icon-cubes:before {
  content: "\e907";
}
.icon-cube:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e90a";
}
.icon-camera:before {
  content: "\e90b";
}
.icon-delete-forever:before {
  content: "\e90c";
}
.icon-delete:before {
  content: "\e90d";
}
.icon-settings:before {
  content: "\e90e";
}
.icon-pin2:before {
  content: "\e902";
}
.icon-repo-forked:before {
  content: "\e903";
}
.icon-equalizerh:before {
  content: "\e992";
}
.icon-equalizerv:before {
  content: "\e993";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linux:before {
  content: "\e910";
}
.icon-ethereum:before {
  content: "\e905";
}
